body {
    background-color: #bfbfff;
    margin: 0;
    font-family: Tahoma, sans-serif;
}

/* Title bar */
.titlebar {
    border: 2px solid #5b0825;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

/* Title text */
h1 {
    color: #6f3709;
    text-align: center;
    font-size: 50px;
    margin: 10px;
}

/* Sidebar base */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 60px;              /* collapsed size */
    background-color: #bfbfff;
    border-right: 2px solid #5b0825;
    overflow: hidden;
    transition: width 0.5s ease;
    padding: 10px 5px;
}

/* Expanded sidebar */
.sidebar.active {
    width: 250px;
}

/* Toggle button */
.toggle-btn {
    background: #5b0825;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

/* Hide text when collapsed */
.sidebar h2,
.sidebar ul {
    opacity: 0;
    transition: opacity 0.2s ease;
}

/* Show text when expanded */
.sidebar.active h2,
.sidebar.active ul {
    opacity: 1;
}

/* List styling */
.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.sidebar li {
    margin: 10px 0;
}

.sidebar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    border: 1px solid #ccb066c0;
    border-radius: 8px;
    color: black;
}

.sidebar a:hover {
    background-color: #ccb066;
    color: white;
}